[build]
  command = "npm run build"
  publish = "dist"

[[redirects]]
  from = "/sitemap*.xml"
  to = "/sitemap:splat.xml"
  status = 200
  force = true

[[redirects]]
  from = "/sitemap-index.xml"
  to = "/sitemap-index.xml"
  status = 200
  force = true