---
import BaseLayout from "@layouts/BaseLayout.astro";
import PricingSection from "@components/PricingSection.astro";
import { t, getLocalePath } from "i18n:astro";
import BenefitsSection from "@components/BenefitsSection.astro";
---

<BaseLayout title={t("home:layout.title")} description={t("home:layout.description")} preloadedImage="">

<!-- ============================================ -->
<!--                Hero + Logos                  -->
<!-- ============================================ -->

<div class="hero-logos-wrapper">
    <!-- ============================================ -->
    <!--                    Hero                      -->
    <!-- ============================================ -->

    <section id="hero-330">
        <div class="cs-container">
            <div class="cs-flex-group">
                <h1 class="cs-title">
                 {t("home:hero.title")}
                </h1>
                <p class="cs-text">
                    {t("home:hero.text")}
                </p>
                <div class="cs-button-group">
                    <a href={getLocalePath(t("home:hero.cta1Link"))} class="cs-button-solid">{t("home:hero.cta1")}</a>
                    <a href={getLocalePath(t("home:hero.cta2Link"))} class="cs-button-transparent">
                        <picture class="cs-picture">
                            <img class="cs-img" decoding="async" src="/assets/svgs/chevron-right.svg" alt="icon" width="12" height="12" aria-hidden="true">
                        </picture>
                        {t("home:hero.cta2")}
                    </a>
                </div>
            </div>
        </div>
    </section>

    <!-- ============================================ -->
    <!--                   Logos                      -->
    <!-- ============================================ -->

    <section id="logos-857">
        <div class="cs-container">
            <div class="cs-content">
                <h2 class="cs-h3">{t("home:logos.heading")}</h2>
            </div>
            <div class="cs-logo-group">
                <img class="cs-logo" src="/assets/svgs/logos/sri-chan.svg" alt="logo" width="150" height="65" loading="lazy" decoding="async">
                <img class="cs-logo" src="/assets/svgs/logos/smile.svg" alt="logo" width="150" height="55" loading="lazy" decoding="async">
                <img class="cs-logo" src="/assets/svgs/logos/ann.svg" alt="logo" width="150" height="53" loading="lazy" decoding="async">
                <img class="cs-logo" src="/assets/svgs/logos/bamboo.svg" alt="logo" width="150" height="61" loading="lazy" decoding="async">
                <img class="cs-logo" src="/assets/svgs/logos/thaitorelax.svg" alt="logo" width="150" height="65" loading="lazy" decoding="async">
                <img class="cs-logo" src="/assets/svgs/logos/icon-siam.svg" alt="logo" width="150" height="55" loading="lazy" decoding="async">
                <img class="cs-logo" src="/assets/svgs/logos/anavaree.svg" alt="logo" width="150" height="53" loading="lazy" decoding="async">
                <img class="cs-logo" src="/assets/svgs/logos/siamease.svg" alt="logo" width="150" height="61" loading="lazy" decoding="async">
            </div>
        </div>
    </section>

    <!-- Background Image for Both Sections -->
    <picture class="cs-background">
        <source media="(max-width: 600px)" srcset="/assets/images/hero-bg-m.webp">
        <source media="(min-width: 601px)" srcset="/assets/images/hero-bg.webp">
        <img decoding="async" src="/assets/images/hero-bg.jpg" alt="woman receiving a massage" width="2250" height="1500" aria-hidden="true">
    </picture>
</div>

<!-- ============================================ -->
<!--                  Benefits                    -->
<!-- ============================================ -->

<BenefitsSection namespace="home" />

<!-- ============================================ -->
<!--                  Who We Are.                -->
<!-- ============================================ -->

<section id="sbs-2369">
    <div class="cs-wrapper">
        <p class="cs-header">
            {t("home:whoWeAre.header")}
        </p>
        <img class="cs-arrow" loading="lazy" decoding="async" src="/assets/svgs/curve-arrow.svg" alt="arrow graphic" width="154" height="120">
    </div>
    <div class="cs-container">
        <div class="cs-image-group">
            <picture class="cs-picture">
                <source media="(max-width: 600px)" srcset={t("home:whoWeAre.imageMobile")}>
                <source media="(min-width: 601px)" srcset={t("home:whoWeAre.imageDesktop")}>
                <img loading="lazy" decoding="async" src={t("home:whoWeAre.imageFallback")} alt={t("home:whoWeAre.imageAlt")} width="565" height="814">
            </picture>
            <img class="cs-flower" loading="lazy" decoding="async" src="/assets/svgs/flower-blur3.svg" alt="flower blur" width="635" height="697">
        </div>
        <div class="cs-content">
            <span class="cs-topper">{t("home:whoWeAre.topper")}</span>
            <h2 class="cs-title">{t("home:whoWeAre.title")}</h2>
            <p class="cs-text">
                {t("home:whoWeAre.text")}
            </p>
            <p class="cs-text">
                {t("home:whoWeAre.text2")}
            </p>
            <p class="cs-text">
                {t("home:whoWeAre.text3")}
            </p>
            <p class="cs-text">
                {t("home:whoWeAre.text4")}
            </p>
        </div>
    </div>
</section>

<!-- ============================================ -->
<!--                     CTA                      -->
<!-- ============================================ -->

<section id="cta-697">
    <div class="cs-container">
        <div class="cs-content">
            <h2 class="cs-title">{t("home:cta.title")}</h2>
            <a href={getLocalePath(t("home:cta.link"))} class="cs-button-solid">{t("home:cta.button")}</a>
        </div>
    </div>
    <img class="cs-background" src="/assets/svgs/waves.svg" alt="wave graphic" width="1920" height="318" loading="lazy" decoding="async" aria-hidden="true">
</section>

<!-- ============================================ -->
<!--                  Services                    -->
<!-- ============================================ -->
<div id="services-section">
<section id="services-294">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">{t("home:services2.topper")}</span>
            <h2 class="cs-title">{t("home:services2.title")}</h2>
            <p class="cs-text">
                {t("home:services2.text")}
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <a class="cs-item-link" href={getLocalePath(t("home:services2.items.0.link"))}>
                    <picture class="cs-picture">
                        <img class="cs-icon" loading="lazy" decoding="async"
                            src={t("home:services2.items.0.icon")} alt="icon"
                            width="48" height="48" />
                    </picture>
                    <h3 class="cs-h3">{t("home:services2.items.0.title")}</h3>
                    <p class="cs-item-text">
                        {t("home:services2.items.0.text")}
                    </p>
                </a>
                <picture class="cs-image" aria-hidden="true">
                    <source media="(max-width: 600px)" srcset="/assets/images/massage-m.webp">
                    <source media="(min-width: 601px)" srcset="/assets/images/massage.webp">
                    <img loading="lazy" decoding="async" src="/assets/images/massage.jpg" alt="massage" width="413" height="266">
                </picture>
            </li>
            <li class="cs-item">
                <a href={getLocalePath(t("home:services2.items.1.link"))} class="cs-item-link">
                    <picture class="cs-picture">
                        <img class="cs-icon" loading="lazy" decoding="async"
                            src={t("home:services2.items.1.icon")} alt="icon"
                            width="48" height="48" />
                    </picture>
                    <h3 class="cs-h3">{t("home:services2.items.1.title")}</h3>
                    <p class="cs-item-text">
                        {t("home:services2.items.1.text")}
                    </p>
                </a>
                <picture class="cs-image" aria-hidden="true">
                    <source media="(max-width: 600px)" srcset="/assets/images/massage-m.webp">
                    <source media="(min-width: 601px)" srcset="/assets/images/massage.webp">
                    <img loading="lazy" decoding="async" src="/assets/images/massage.jpg" alt="massage" width="413" height="266">
                </picture>
            </li>
            <li class="cs-item">
                <a href={getLocalePath(t("home:services2.items.2.link"))} class="cs-item-link">
                    <picture class="cs-picture">
                        <img class="cs-icon" loading="lazy" decoding="async"
                            src={t("home:services2.items.2.icon")} alt="icon"
                            width="48" height="48" />
                    </picture>
                    <h3 class="cs-h3">{t("home:services2.items.2.title")}</h3>
                    <p class="cs-item-text">
                        {t("home:services2.items.2.text")}
                    </p>
                </a>
                <picture class="cs-image" aria-hidden="true">
                    <source media="(max-width: 600px)" srcset="/assets/images/massage-m.webp">
                    <source media="(min-width: 601px)" srcset="/assets/images/massage.webp">
                    <img loading="lazy" decoding="async" src="/assets/images/massage.jpg" alt="massage" width="413" height="266">
                </picture>
            </li>
            <li class="cs-item">
                <a href={getLocalePath(t("home:services2.items.3.link"))} class="cs-item-link">
                    <picture class="cs-picture">
                        <img class="cs-icon" loading="lazy" decoding="async"
                            src={t("home:services2.items.3.icon")} alt="icon"
                            width="48" height="48" />
                    </picture>
                    <h3 class="cs-h3">{t("home:services2.items.3.title")}</h3>
                    <p class="cs-item-text">
                        {t("home:services2.items.3.text")}
                    </p>
                </a>
                <picture class="cs-image" aria-hidden="true">
                    <source media="(max-width: 600px)" srcset="/assets/images/massage-m.webp">
                    <source media="(min-width: 601px)" srcset="/assets/images/massage.webp">
                    <img loading="lazy" decoding="async" src="/assets/images/massage.jpg" alt="massage" width="413" height="266">
                </picture>
            </li>
            <li class="cs-item">
                <a href={getLocalePath(t("home:services2.items.4.link"))} class="cs-item-link">
                    <picture class="cs-picture">
                        <img class="cs-icon" loading="lazy" decoding="async"
                            src={t("home:services2.items.4.icon")} alt="icon"
                            width="48" height="48" />
                    </picture>
                    <h3 class="cs-h3">{t("home:services2.items.4.title")}</h3>
                    <p class="cs-item-text">
                        {t("home:services2.items.4.text")}
                    </p>
                </a>
                <picture class="cs-image" aria-hidden="true">
                    <source media="(max-width: 600px)" srcset="/assets/images/massage-m.webp">
                    <source media="(min-width: 601px)" srcset="/assets/images/massage.webp">
                    <img loading="lazy" decoding="async" src="/assets/images/massage.jpg" alt="massage" width="413" height="266">
                </picture>
            </li>
        </ul>
        <div class="cs-content">
            <h3 class="cs-h3">{t("home:services2.bottomHeading")}</h3>
            <p class="cs-text">
                {t("home:services2.bottomText")}
            </p>
        </div>
    </div>
</section>
</div>
                                

<!-- ============================================ -->
<!--                   Reviews                    -->
<!-- ============================================ -->

<section id="reviews-2247">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">{t("home:reviews.topper")}</span>
            <h2 class="cs-title">{t("home:reviews.title")}</h2>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <picture class="cs-picture">
                    <img class="cs-image" loading="lazy" decoding="async" src={t("home:reviews.items.0.image")} alt={t("home:reviews.items.0.imageAlt")} width="64" height="64">
                </picture>
                <div class="cs-wrapper">
                    <img class="cs-quote" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/quote.svg" alt="quote" width="48" height="40">
                    <p class="cs-item-text">
                        {t("home:reviews.items.0.text")}
                    </p>
                    <span class="cs-name">
                        {t("home:reviews.items.0.name")}
                        <span class="cs-desc">{t("home:reviews.items.0.title")}</span>
                    </span>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <img class="cs-image" loading="lazy" decoding="async" src={t("home:reviews.items.1.image")} alt={t("home:reviews.items.1.imageAlt")} width="64" height="64">
                </picture>
                <div class="cs-wrapper">
                    <img class="cs-quote" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/quote.svg" alt="quote" width="48" height="40">
                    <p class="cs-item-text">
                        {t("home:reviews.items.1.text")}
                    </p>
                    <span class="cs-name">
                        {t("home:reviews.items.1.name")}
                        <span class="cs-desc">{t("home:reviews.items.1.title")}</span>
                    </span>
                </div>
            </li>
        </ul>
    </div>
</section>

<!-- ============================================ -->
<!--                     CTA                      -->
<!-- ============================================ -->

<section id="cta-698">
    <div class="cs-container">
        <div class="cs-content">
            <h2 class="cs-title">{t("home:cta2.title")}</h2>
            <a href={getLocalePath(t("home:cta2.link"))} class="cs-button-solid">{t("home:cta2.button")}</a>
        </div>
    </div>
    <img class="cs-background" src="/assets/svgs/waves.svg" alt="wave graphic" width="1920" height="318" loading="lazy" decoding="async" aria-hidden="true">
</section>


</BaseLayout>

<style lang="less">
	/* STYLES FOR ABOVE THE FOLD */

/*-- -------------------------- -->
<---        Hero + Logos         -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    .hero-logos-wrapper {
        position: relative;
        z-index: 1;
        overflow: hidden;

        .cs-background {
            /* Background Image */
            width: 100%;
            height: 100%;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -2;

            &:before {
                /* White Color Overlay */
                content: "";
                width: 100%;
                height: 100%;
                background: var(--sectionColor);
                opacity: 0.85;
                position: absolute;
                display: block;
                top: 0;
                left: 0;
                z-index: 1;
                /* prevents the cursor from interacting with it */
                pointer-events: none;
            }

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                /* Makes image act like a background-image */
                object-fit: cover;
                /* places the top of the image at the top of the parent */
                object-position: top;
            }
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        .hero-logos-wrapper {
            .cs-background {
                background-color: var(--dark);
                &:before {
                    background-color: var(--dark);
                    opacity: 0.8;
                }
                img {
                    opacity: 0.8;
                }
            }
        }
    }
}

/*-- -------------------------- -->
<---           Hero             -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #hero-330 {
        /* Centers button */
        text-align: center;
        /* changes on tablet */
        padding: clamp(9rem, 25.95vw, 17.5rem) (16/16rem);
        /* 150px - 160px */
        padding-bottom: 0;
        background-color: transparent;
        position: relative;
        z-index: 1;

        .cs-container {
            width: 100%;
            max-width: (1280/16rem);
            margin: auto;
            position: relative;
        }

        .cs-flex-group {
            /* 456px - 626px */
            max-width: clamp(28.5rem, 62vw, 39.125rem);
            margin: auto;
            display: flex;
            align-items: flex-start;
            justify-content: center;
            flex-wrap: wrap;
            box-sizing: border-box;
        }

        .cs-title {
            /* 39px - 61px */
            font-size: clamp(2.4375rem, 6.4vw, 3.8125rem);
            font-weight: 900;
            line-height: 1.2em;
            text-align: center;
            width: 100%;
            margin: 0 auto (16/16rem);
            color: var(--headerColor);
            position: relative;
        }

        .cs-accent {
            color: var(--primaryLight);
        }

        .cs-text {
            /* 16px - 20px */
            font-size: clamp(1rem, 1.95vw, 1.25rem);
            line-height: 1.5em;
            text-align: center;
            width: 100%;
            max-width: (442/16rem);
            /* 32px - 40px */
            margin: 0 auto clamp(2rem, 4vw, 2.5rem);
            /* 24px - 40px */
            margin-bottom: clamp(1.5rem, 4vw, 2.5rem);
            color: var(--bodyTextColor);
        }

        .cs-button-group {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            gap: (16/16rem);
        }

        .cs-button-transparent {
            font-size: (16/16rem);
            /* 46px - 56px */
            line-height: clamp(2.875rem, 5.5vw, 3.5rem);
            width: (180/16rem);
            /* 46px - 56px */
            height: clamp(2.875rem, 5.5vw, 3.5rem);
            text-decoration: none;
            font-weight: 700;
            margin: 0;
            color: var(--primaryLight);
            padding: 0;
            background-color: transparent;
            box-sizing: border-box;
            display: inline-flex;
            justify-content: flex-start;
            align-items: center;
            position: relative;
            z-index: 1;

            &:before {
                /* white hover box */
                content: "";
                /* 46px - 56px */
                width: clamp(2.875rem, 5.5vw, 3.5rem);
                background: #fff;
                border-radius: (28/16rem);
                opacity: 1;
                position: absolute;
                display: block;
                top: 0px;
                bottom: 0px;
                left: 0px;
                z-index: -1;
                transition:
                    width 0.3s,
                    box-shadow 0.3s;
            }

            &:hover {
                &:before {
                    width: 100%;
                    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
                }
            }
        }

        .cs-picture {
            /* 46px - 56px */
            width: clamp(2.875rem, 5.5vw, 3.5rem);
            height: clamp(2.875rem, 5.5vw, 3.5rem);
            margin-right: (8/16rem);
            background-color: var(--primaryLight);
            border-radius: 50%;
            border: 6px solid #fff;
            box-sizing: border-box;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .cs-image {
            width: (12/16rem);
            height: auto;
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #hero-330 {
            background-color: transparent;

            .cs-title {
                color: var(--bodyTextColorWhite);
            }
            .cs-text {
                color: var(--bodyTextColorWhite);
                opacity: 0.9;
            }
        }
    }
}

/*-- -------------------------- -->
<---           Logos            -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #logos-857 {
        padding: var(--sectionPadding);
        background-color: transparent;
        position: relative;
        z-index: 1;

        .cs-container {
            width: 100%;
            /* changes to 1280px at desktop */
            max-width: (800/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
        }

        .cs-h3 {
            font-size: (20/16rem);
            font-weight: 900;
            text-align: center;
            line-height: 1.2em;
            margin: 0;
            margin-bottom: (12/16rem);
            color: var(--headerColor);
            transition: color 0.3s;
        }

        .cs-title {
            margin: 0;
        }

        .cs-logo-group {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            gap: (40/16rem);
        }

        .cs-logo {
            width: 40%;
            max-width: (120/16rem);
            height: auto;
            margin: 0;
            display: block;
        }
    }
}

/* Desktop - 1300px */
@media only screen and (min-width: 81.25rem) {
    #logos-857 {
        .cs-container {
            max-width: (1280/16rem);
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #logos-857 {
            background-color: transparent;

            .cs-topper {
                color: var(--primaryLight);
            }

            .cs-h3 {
                color: var(--bodyTextColorWhite);
            }

            .cs-logo {
                filter: grayscale(100) brightness(2000%);
            }
        }
    }
}

/*-- -------------------------- -->
<---        Side By Side        -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #sbs-2369 {
        padding: var(--sectionPadding);
        padding-bottom: 0;
        background-color: var(--sectionColor);
        /* clips anything overflowing */
        overflow: hidden;
        position: relative;
        z-index: 1;
        
        .cs-container {
            width: 100%;
            /* changes to 1280px at desktop */
            max-width: (784/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-wrapper {
            width: 100%;
            max-width: (1280/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .cs-content {
            /* set text align to center if content needs to be centered */
            text-align: left;
            width: 100%;
            max-width: (694/16rem);
            overflow: hidden;
            display: flex;
            flex-direction: column;
            /* left aligns content, set to center to align content horizontally */
            align-items: flex-start;
        }

        .cs-header {
            /* 20px - 31px */
            font-size: clamp(1.25rem, 3vw, 1.9375rem);
            text-align: center;
            line-height: 1.2em;
            font-weight: 700;
            margin: 0 0 (32/16rem) 0;
            color: var(--headerColor);
        }

        .cs-arrow {
            width: (154/16rem);
            height: auto;
            margin-bottom: (20/16rem);
            display: block;
        }

        .cs-topper {
            text-align: center;
            margin: auto;
        }

        .cs-title {
            text-align: center;
            max-width: 20ch;
            margin: auto;
            margin-bottom: (32/16rem);
            /* 48px - 64px */
            padding-bottom: clamp(3rem, 6vw, 4rem);
            position: relative;
            z-index: 1;

            &:before {
                content: '';
                width: 100vw;
                height: 1px;
                background: #D2D8DF;
                opacity: 1;
                display: block;
                position: absolute;
                bottom: 0;
                left: 0;
            }
        }

        .cs-text {
            margin-bottom: (16/16rem);

            &:last-of-type {
                /* 24px - 32px */
                margin-bottom: clamp(1.5rem, 3vw, 2rem);
            }
        }

        .cs-ul {
            width: 100%;
            margin: 0 0 (32/16rem);
            padding: 0;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: (12/16rem);
        }

        .cs-li {
            font-size: var(--bodyFontSize);
            list-style: none;
            line-height: 1.5em;
            width: 100%;
            color: var(--bodyTextColor);
            display: flex;
            justify-content: flex-start;
            /* push icon top the top so if the list item goes to two lines the icon stays at the top */
            align-items: flex-start;
            gap: (8/16rem);
        }

        .cs-icon {
            width: (19/16rem);
            height: auto;
            /* adds extra space between the icon and top of parent so it's more centered */
            margin-top: 3px;
            display: block;
            flex: none;
        }

        .cs-image-group {
            /* scales the whole section down and ties the font size to the vw and stops at 75% of the vale of 1em, changes at desktop */
            font-size:~"min(2.8vw, .75rem)";
            /* everything inside this box is in ems so we can scale it all down proportionally with a font size */
            width: (522/16em);
            height: auto;
            order: 2;
            position: relative;
            z-index: 1;
        }

        .cs-picture {
            width: 100%;
            height: auto;
            display: block;

            img {
                width: 100%;
                height: auto;
                display: block;
            }
        }

        .cs-flower {
            width: (1200/16em);
            height: auto;
            display: block;
            position: absolute;
            bottom: 0;
            left: 50%;
            z-index: -1;
            transform: translateX(-50%);
        }
    }
}

/* Large Desktop - 1200px */
@media only screen and (min-width: 75rem) {
    #sbs-2369 {
        padding: var(--sectionPadding);
        padding-bottom: 0;

        .cs-container {
            max-width: (1280/16rem);
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
            position: relative;
            z-index: 1;
        }

        .cs-content {
            width: 50%;
            padding-bottom: clamp(3.75rem, 7.82vw, 6.25rem);
            align-items: flex-start;
        }

        .cs-topper, .cs-title {
            text-align: left;
            margin: 0;
        }

        .cs-topper {
            margin-bottom: (4/16rem);
        }

        .cs-title {
            margin-bottom: (32/16rem);
        }

        .cs-image-group {
            /* set to inherit at Large Desktop */
            font-size:~"min(1.2vw, 1rem)";
            height: auto;
            order: -1;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
        }

        .cs-picture {
            height: 100%;
            width: auto;
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;
            position: relative;
            z-index: 1;

            img {
                height: 100%;
                width: auto;
            }
        }

        .cs-flower {
            width: 80vw;
            max-width: (900/16rem);
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #sbs-2369 {
            background-color: rgba(0, 0, 0, .2);

            .cs-title,
            .cs-text,
            .cs-header, .cs-li {
                color: var(--bodyTextColorWhite);
            }

            .cs-title {
                &:before {
                    opacity: .2;
                }
            }

            .cs-text, .cs-li {
                opacity: .8;
            }

            .cs-wheel {
                filter: grayscale(1) brightness(1000%) opacity(.3);
            }
        }
    }
}

/*-- -------------------------- -->
<---            CTA             -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #cta-697 {
        padding: var(--sectionPadding);
        background-color: #11142A;
        position: relative;
        z-index: 1;

        .cs-container {
            width: 100%;
            max-width: (1280/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-title {
            color: var(--bodyTextColorWhite);
        }

        

        .cs-background {
            width: 100%;
            height: 100%;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            /* makes it act like a background image */
            object-fit: cover;
        }
    }
}

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #cta-697 {
        .cs-content {
            text-align: left;
            flex-direction: row;
            justify-content: space-between;
        }
    }
}

/*-- -------------------------- -->
<---         Services           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #services-294 {
        text-align: center;
        padding: var(--sectionPadding);

        .cs-container {
            width: 100%;
            /* changes to 1280px at tablet */
            max-width: (550/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
        }

        .cs-card-group {
            width: 100%;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: (16/16rem);
        }

        .cs-item {
            list-style: none;
            text-align: left;
            width: 100%;
            padding: (32/16rem);
            background-color: #f7f7f7;
            border-radius: (16/16rem);
            overflow: hidden;
            box-sizing: border-box;
            position: relative;
            z-index: 1;
            transition: background-color 0.3s;
            
            /* Different colors for each tile */
            &:nth-child(1) {
                background-color: #e8f4f8; /* Soft blue */
            }
            
            &:nth-child(2) {
                background-color: #f0e8f8; /* Soft purple */
            }
            
            &:nth-child(3) {
                background-color: #e8f8f0; /* Soft green */
            }
            
            &:nth-child(4) {
                background-color: #f8f0e8; /* Soft peach */
            }
            
            &:nth-child(5) {
                background-color: #f8e8f0; /* Soft pink */
            }
            
            &:nth-child(6) {
                background-color: #f0f8e8; /* Soft lime */
            }
            
            &:hover {
                cursor: pointer;

                .cs-image {
                    opacity: 1;

                    img {
                        transform: scale(1.1);
                    }
                }

                .cs-picture {
                    filter: grayscale(100) brightness(2000%);
                }

                .cs-h3,
                .cs-item-text {
                    color: #fff;
                }
            }
        }

        .cs-image {
            width: 100%;
            height: 100%;
            opacity: 0;
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            z-index: -1;
            background-color: var(--dark);
            transition: opacity 0.3s;

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                opacity: 0.3;
                object-fit: cover;
                transition: transform 0.6s;
            }
        }

        .cs-item-link {
            text-decoration: none;
        }

        .cs-icon {
            width: auto;
            height: (48/16rem);
            margin-bottom: (24/16rem);
            display: block;
            path {
                transition: fill 0.3s;
            }
        }

        .cs-h3 {
            /* 20px - 25px */
            font-size: clamp(1.25rem, 2.5vw, 1.5625rem);
            line-height: 1.2em;
            margin: 0;
            margin-bottom: (16/16rem);
            color: var(--headerColor);
            transition: color 0.3s;
            font-weight: bold;
        }

        .cs-item-text {
            font-size: (16/16rem);
            line-height: 1.5em;
            margin: 0;
            color: var(--bodyTextColor);
            transition: color 0.3s;
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #services-294 {
        .cs-container {
            max-width: (1280/16rem);
        }

        .cs-title {
            width: 70vw;
        }

        .cs-card-group {
            display: flex;
            justify-content: center;
            /* makes sure every box "stretches" to be the same height as the tallest box */
            align-items: stretch;
            flex-direction: row;
            flex-wrap: wrap;
            /* 16px - 20px */
            gap: clamp(1rem, 1.5vw, 1.25rem);
        }

        .cs-item {
            width: 31.85%;
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #services-294 {
            .cs-topper {
                color: var(--secondaryLight);
            }
            .cs-title,
            .cs-text,
            .cs-h3,
            .cs-item-text {
                color: var(--bodyTextColorWhite);
            }

            .cs-item {
                background-color: var(--accent);
                &:hover {
                    background-color: var(--primary);
                }
            }

            .cs-picture {
                filter: grayscale(100) brightness(2000%);
            }
        }
    }
}

                                

/*-- -------------------------- -->
<---          Reviews           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #reviews-2247 {
        /* Centers the button */
        text-align: center;
        padding: var(--sectionPadding);
        background-color: var(--sectionColor);

        .cs-container {
            width: 100%;
            /* changes to 1280px at tablet */
            max-width: (550/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
        }

        .cs-title {
            margin-bottom: 0;
        }

        .cs-card-group {
            width: 100%;
            padding: 0;
            margin: 0;
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            /* 16px - 20px */
            row-gap: clamp(1rem, 2.5vw, 1.25rem);
        }

        .cs-item {
            text-align: left;
            list-style: none;
            /* 32px - 40px top & bottom */
            /* 16px - 32px left & right */
            padding: clamp(2rem, 5vw, 2.5rem) clamp(1rem, 4vw, 2rem);
            overflow: hidden;
            display: flex;
            align-items: center;
            grid-column: span 12;
            /* 16px - 40px */
            gap: clamp(1rem, 4vw, 2.5rem);
            position: relative;
            z-index: 1;

        }

        .cs-wrapper {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: (24/16rem);
        }

        .cs-picture {
            width: (64/16rem);
            height: (64/16rem);
            display: block;
            flex: none;
            position: relative;
            z-index: 1;
        }

        .cs-image {
            width: 100%;
            height: 100%;
            border-radius: 50%;
            object-fit: cover;
            position: absolute;
            top: 0;
            left: 0;
        }

        .cs-quote {
            width: (48/16rem);
            height: auto;
            margin-top: (-8/16rem);
            display: block;
        }

        .cs-item-text {
            font-size: (16/16rem);
            text-align: inherit;
            line-height: 1.5em;
            margin: 0;
            color: var(--bodyTextColor);
        }

        .cs-name {
            font-size: (20/16rem);
            line-height: 1.2em;
            font-weight: 700;
            margin: 0;
            color: var(--headerColor);
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }

        .cs-desc {
            /* 14px - 16px */
            font-size: clamp(.875rem, 1.5vw, 1rem);
            font-weight: 400;
            line-height: 1.5em;
            margin: 0;
            color: var(--bodyTextColor);
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #reviews-2247 {
        .cs-container {
            max-width: (1280/16rem);
        }

        .cs-content {
            display: flex;
        }

        .cs-card-group {
            flex-direction: row;
            /* 16px - 20px */
            column-gap: clamp(1rem, 2.5vw, 1.25rem);
        }

        .cs-picture {
            width: (96/16rem);
            height: (96/16rem);
        }

        .cs-item {
            grid-column: span 6;
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #reviews-2247 {
            background-color: rgba(0, 0, 0, .2);
            .cs-title, .cs-item-text, .cs-name, .cs-desc {
                color: var(--bodyTextColorWhite);
            }

            .cs-item {
                &:before {
                    background-color: #000;
                    opacity: .2;
                }
            }

            .cs-picture {
                &:before {
                    opacity: .5;
                }
            }

            .cs-desc {
                opacity: .8;
            }
        }
    }
}



/*-- -------------------------- -->
<---            CTA             -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #cta-698 {
        padding: var(--sectionPadding);
        background-color: var(--primary);
        position: relative;
        z-index: 1;

        .cs-container {
            width: 100%;
            max-width: (1280/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-title {
            color: var(--bodyTextColorWhite);
        }

        .cs-button-solid {
            font-size: (16/16rem);
            line-height: (56/16rem);
            text-decoration: none;
            font-weight: 700;
            overflow: hidden;
            margin: 0;
            color: #fff;
            padding: 0 (48/16rem);
            border-radius: (30/16rem);
            background-color: var(--dark);
            display: inline-block;
            position: relative;
            z-index: 1;
            transition: color 0.3s;

            &:before {
                content: "";
                position: absolute;
                display: block;
                height: 100%;
                width: 0%;
                background: var(--secondary);
                opacity: 1;
                top: 0;
                left: 0;
                z-index: -1;
                transition: width 0.3s;
            }

            &:hover {
                color: #fff;
                &:before {
                    width: 100%;
                }
            }
        }

        .cs-background {
            width: 100%;
            height: 100%;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            /* makes it act like a background image */
            object-fit: cover;
        }
    }
}

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #cta-698 {
        .cs-content {
            text-align: left;
            flex-direction: row;
            justify-content: space-between;
        }
    }
}
                                
</style>
